* {
	font-family:Courier New, monospace;
}
html {
	background-color:black;
	color:white;
	margin:0;
	padding:0;
	margin-top:50px;
}
a {
	color:inherit;
	text-decoration:underline;
	background-color:inherit;
}
div#header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#000080;
	height:50px;
	text-align:center;
}
div#header a {
	display:inline-block;
	transition:250ms;
	height:inherit;
	width:auto;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
	padding:1.25em 1.25em 0 1.25em;
}
div#header a:hover {
	background-color:#0000ff;
	cursor:pointer;
}
sup.note div{
	display:none;
	border:2px solid white;
	background-color:#111;
	position:absolute;
	width:auto;
}
sup.note:hover div {
	display:inline;
	z-index:100;
}
