* {
    font-family:Courier New, monospace;
}
html {
    background-color:black;
    color:white;
    margin:0;
    padding:0;
    margin-top:50px;
}
div#header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#000080;
    height:50px;
}
div#header a {
    display:inline-block;
    transition:250ms;
    width:calc(100% / 1);
    height:50px;
    text-align:center;
    vertical-align:center;
}
div#header a:hover {
    background-color:#0000ff;
    cursor:pointer;
}
a {
    color:inherit;
    text-decoration:inherit;
    background-color:inherit;
}
