* {
	font-family:Courier New, monospace;
	padding:0;
	margin:0;
	background-color:black;
	color:white;
	font-size:18px;
}
pre.code {
	background-color:lightGray;
	color:black;
	font-family:monospace;
}
h1#first-heading {
	margin-top:50px;
}
h1 {
	font-size:160%;
}
h2 {
	font-size:140%;
}
a {
	color:inherit;
	text-decoration:underline;
	background-color:inherit;
}
div#header {
	background-color:red;
	color:#0ff;
	height:50px;
	position:fixed;
	top:0;
	width:100%;
	text-align:center;
	left:0;
}
div#header a {
	display:inline-block;
	transition:250ms;
	height:auto;
	width:auto;
	padding:15px 1em 15px 1em;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
}
div#header a:hover {
	background-color:#d00;
	cursor:pointer;
}
div#header a.active {
	font-weight:bold;
	background-color:#e02;
}
